#!/usr/bin/env bash

[ -d bin ] && export PATH=/home/kaineer/devel/kaineer/cli/bin:$PATH
[ -d node_modules/.bin ] && export PATH=/home/kaineer/devel/kaineer/cli/node_modules/.bin:$PATH
export PROJECT_PATH=/home/kaineer/devel/kaineer/cli
export PROJECT_BIN=/home/kaineer/devel/kaineer/cli/bin
export PROJECT_NAME=cli
export PROJECT_CREATED="21.05.2026"
